   /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
   #map {
    height: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }
  textarea:focus, input:focus{
    outline: none;
  }
  .map-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    /*font-family: Roboto;*/
    width: 550px;
  }

  #map-container {
    padding: 12px;
    /*margin-right: 12px;*/
    display: inline-block;
  }

  .map-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .map-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #map-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    height: 30px;
    border:0px;
  }

  #map-input:focus {
    /*border-color: #4d90fe;*/
    border: 0px;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #location-getter
  {
    float: right;
    height: 100%;
    width: 50px;
    position: absolute;
    color: #069fb3 !important;
    border-radius: 0px;
    background-color: inherit;
    border: 0px;
    font-size: 20px;
    /*border-bottom: 3px solid #237a86;*/
    /*border-right:3px solid #237a86; */
  }
  #done
  {
    float: right;
    height: 100%;
    width: 50px;
    right: 0;
    position: absolute;
    color: #069fb3 !important;
    border-radius: 0px;
    background-color: inherit;
    border: 0px;
    font-size: 20px;
    /*border-bottom: 3px solid #237a86;*/
    /*border-left:3px solid #237a86;*/
  }